################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BMI/BMI/bin/Debug
/BMI/BMI/obj
